@use "_2breakpoints" as *;
@use "_3skeleton" as *;
@use "_4typography" as *;
@use "_5iconography" as *;
@use "_6colors" as *;

// TAGS
.tag-01 {
  border: 1.5px solid $neutral-color03;
  color: $neutral-color03;
  padding: 16px 24px;
  font-size: 18px;
  border-radius: 100px;
}

.tag-02 {
  border: 1.5px solid $neutral-color04;
  color: $neutral-color02;
  padding: 16px 24px;
  @include body;
  border-radius: 100px;
}

.tag-03 {
  color: $neutral-color05;
  @include body;
  border-radius: 100px;
  border: 1px solid $neutral-color05;
  padding: 8px 16px;
}

.tag-04 {
  color: $neutral-color01;
  @include body;
  border-radius: 100px;
}

.tag-05 {
  border: 1.5px solid $main-color;
  color: $main-color;
  padding: 8px 16px;
  @include body;
  border-radius: 100px;
}

// BUTTONS

.cta-01 {
  width: fit-content;
  background-color: $main-color;
  color: $neutral-color05;
  padding: 16px 24px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 18px;

  transition: background-color 0.8s ease, color 0.8s ease, box-shadow 0.8s ease;

  &:hover {
    text-decoration: none;
    background-color: $neutral-color01;
    color: $neutral-color05;
  }
}

.cta-02 {
  background-color: transparent;
  color: $main-color;
  border: 1px solid $main-color;
  width: fit-content;
  padding: 16px 24px;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 18px;
  gap: 18px;
  border-radius: 100px;

  transition: background-color 0.8s ease, color 0.8s ease, box-shadow 0.8s ease;

  &:hover {
    text-decoration: none;
    border: 1px solid $neutral-color01;
    color: $neutral-color01;
  }
}

.cta-03 {
  width: fit-content;
  background-color: $main-color;
  color: $neutral-color03;
  padding: 16px 24px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 18px;
  border-radius: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 18px;

  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    text-decoration: none;
    border: 1px solid $neutral-color01;
    color: $neutral-color01;
  }
}
