@use "_2breakpoints" as *;
@use "_3skeleton" as *;
@use "_4typography" as *;
@use "_5iconography" as *;
@use "_6colors" as *;

// NAV
.nav {
  .wrapper {
    max-width: unset;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
    width: 100%;
    align-items: center;

    @include mobile {
      flex-direction: column;
      gap: 24px;
      justify-content: center;
    }
  }

  &__links {
    display: flex;
    gap: 56px;

    @include mobile {
      gap: 32px;
    }

    &-item {
      text-decoration: none;
      color: $neutral-color01;
      @include font-M;

      &:hover {
        text-decoration: none;
        color: $main-color;
      }

      transition: color 0.3s ease;

      @include mobile {
        @include font-M;
      }
    }
  }

  &__naming {
    display: flex;
    align-items: center;

    .logo-gif {
      max-width: 120px;
    }
  }
}

// HEADER
.header {
  display: flex;
  text-align: center;
  justify-content: center;

  &__color {
    color: $main-color;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: $neutral-color01;
    @include font-XL;
    font-weight: bold;
    max-width: 800px;

    @include tablet {
      @include font-XL;
    }

    @include mobile {
      font-size: 35px;
      line-height: 43px;
    }
  }

  &__ctaLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    li {
      display: inline-flex;
    }

    a {
      font-weight: bold;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: $main-color;
        transition: color 0.3s ease, text-decoration 0.3s ease;
      }
    }
  }
}

// INFO NUMBERS
.infoNumbers {
  &__content {
    display: flex;
    margin: 0 auto;
    gap: 80px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    &-title {
      @include font-XL;
      font-weight: bold;
      margin-bottom: 16px;
      color: $main-color;

      @include mobile {
        @include font-XXL;
        display: grid;
        margin: 0 auto;
      }
    }

    &-subtitle {
      @include font-M;
      margin-bottom: 16px;
      color: $main-color;

      @include mobile {
        display: grid;
        margin: 0 auto;
      }
    }
  }
}

// CONTENT MEDIA
.contentMedia {
  color: $neutral-color01;

  .grid {
    @include mobile {
      gap: 16px;
    }
  }

  &__column {
    &:nth-child(1) {
      grid-column: 1 / 7;
      grid-row: 1;

      @include tablet {
        grid-column: 1 / 7;
      }
      @include mobile {
        grid-column: 1 / 7;
      }
    }

    &:nth-child(2) {
      grid-column: 7 / 13;
      grid-row: 1;

      @include tablet {
        grid-column: 1 / 7;
        grid-row: 2;
      }
      @include mobile {
        grid-column: 1 / 7;
      }
    }
  }

  &__title {
    @include font-L;
    font-weight: bold;
  }

  &__description {
    @include font-M;
    font-weight: 300;
  }
}

// WOT
.wot {
  color: $neutral-color01;

  &__title {
    text-align: center;
    @include font-L;
    font-weight: bold;
    color: $main-color;
  }

  @include mobile {
    @include font-XXL;
  }
}

// ARTWORKS GRID
.artworksGrid {
  color: $neutral-color05;

  .wrapper {
    max-width: 100%;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__column {
    &:nth-child(1) {
      @include tablet {
      }
    }

    &:nth-child(2) {
      @include tablet {
      }
    }
  }

  &__card {
    border-radius: 24px;
    background-color: black;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    aspect-ratio: 16/9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: space-between;

    @include tablet {
      aspect-ratio: 1/1;
    }

    figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(#2f2f2f, 0.6);
        z-index: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.2);
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
  }

  &__text {
    &-title {
      @include font-L;
      font-weight: bold;
      margin-bottom: 8px;

      @include tablet {
        @include font-L;
      }
    }

    &-description {
      @include font-L;
      margin: 0;
    }

    &-icon {
      background-color: $main-color;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      img {
        width: 40px;
        height: 40px;
      }

      @include tablet {
        width: 48px;
        height: 48px;
      }
    }
  }
  &__tags {
    display: flex;
    gap: 16px;
  }
}

// CTA BLOCK
.ctaBlock {
  background-color: $neutral-color04;
  padding: 80px 80px;
  text-align: center;
  justify-content: center;

  @include tablet {
    grid-template-columns: 1fr;
  }
  @include mobile {
    padding: 32px 48px;
  }

  &__title {
    text-align: center;
    @include font-XL;
    margin-bottom: 32px;
    font-weight: bold;
    color: $neutral-color01;

    mark {
      color: $neutral-color02;
    }

    @include mobile {
      @include font-XL;
    }
  }
  &__description {
    text-align: center;
    @include font-M;
    font-weight: normal;
    margin-bottom: 24px;
    color: $neutral-color01;
  }
  .button {
    margin-top: 24px;
  }
}

// FOOTER
.footer {
  background: $neutral-color01;
  padding: 30px 0;
  text-align: center;

  .row {
    width: 100%;
    margin: 1% 0;
    padding: 0.6% 0;
    color: $neutral-color02;
    @include body;

    @include mobile {
      display: flex;
      gap: 24px;
      margin: 0 auto;
      justify-content: center;
    }

    a {
      text-decoration: none;
      color: $neutral-color03;
      transition: 0.5s;

      &:hover {
        color: $neutral-color03;
      }
    }

    ul {
      width: 100%;

      li {
        display: inline-block;
        margin: 0 30px;
      }
    }

    a i {
      @include font-L;
      margin: 0 1%;
    }
  }
}

// WORK LIST
.workList {
  &__title {
    @include font-L;
    font-weight: bold;
    color: $main-color;
    margin-bottom: 40px;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-top-style: solid;
    gap: 32px;
    padding: 56px 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      border-top: 1px solid $neutral-color04;
    }

    &-title {
      @include font-M;
      margin: 0 auto;
      font-weight: bold;
      color: #3b3b3b;

      @include mobile {
        @include font-M;
        line-height: 28px;
      }
    }

    &-date {
      @include font-M;
      margin-top: 16px;
      color: $neutral-color02;

      @include mobile {
        @include font-M;
      }
    }

    &-description {
      @include body;
      font-weight: normal;
      color: $neutral-color01;
    }

    &-tags {
      margin-top: 32px;
      display: flex;
      justify-self: end;
      gap: 16px;

      @include tablet {
        justify-self: flex-start;
      }
    }
  }
  &[data-columns="3"] {
    .workList {
      &__item {
        grid-template-columns: 1fr 2fr auto;

        @include tablet {
          grid-template-columns: 1fr;
        }

        @include mobile {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

// GRID BRANDS
.gridBrands {
  &__title {
    @include font-L;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: $neutral-color01;

    @include mobile {
      @include font-L;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $neutral-color01;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    gap: 56px;
    flex-wrap: wrap;
  }

  &__img {
    transition: opacity 0.3s ease;
    opacity: 1;

    &:hover {
      opacity: 0.4;
    }
  }
}

// SIMPLE MEDIA
.simpleMedia {
  &__img {
    width: 100%;
    border-radius: 24px;
    object-fit: cover;
    max-width: 800px;
    margin: 0 auto;
    display: block;
  }
}

// MAIN HEADER
.mainHeader {
  color: $neutral-color01;

  @include mobile {
    .grid {
      gap: 16px;
    }
  }

  &__column {
    &:nth-child(1) {
      grid-column: 1/7;

      @include tablet {
        grid-column: 1/7;
      }

      @include mobile {
        grid-column: 1/7;
      }
    }

    &:nth-child(2) {
      grid-column: 7 / 13;
      grid-row: 1;

      @include tablet {
        grid-column: 1 / 7;
        grid-row: 2;
      }
      @include mobile {
        grid-column: 1 / 7;
        grid-row: 2;
      }
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    color: $neutral-color01;
  }

  &__underline {
    color: $main-color;
  }

  &__title {
    @include font-XL;
    font-weight: bold;
    margin-top: 32px;
    color: $neutral-color01;

    // @include tablet {
    //   font-size: 64px;
    //   line-height: 72px;
    //   color: $neutral-color01;
    // }

    @include mobile {
      @include font-XL;
      color: $neutral-color01;
    }
  }

  &__description {
    @include font-L;
    font-weight: 300;
    color: $neutral-color01;

    @include mobile {
      @include font-M;
      color: $neutral-color01;
    }
  }
}

// SIMPLE HEADER
.simpleHeader {
  color: $neutral-color01;

  &__content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  &__text {
    @include body;
  }

  &__date {
    margin-top: 20px;
    color: $neutral-color02;
  }

  &__caption {
    margin-bottom: 8px;
  }

  &__title {
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
    margin-bottom: 8px;
    color: $main-color;

    @include mobile {
      font-size: 32px;
      line-height: 40px;
      color: $main-color;
    }
  }

  &__description {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    color: $neutral-color01;
    text-align: center;

    @include mobile {
      font-size: 20px;
      line-height: 32px;
      color: $neutral-color01;
    }
  }

  img {
    margin-top: 24px;
    width: 100%;
    height: 100%;
    border-radius: 24px;
  }
}

// PROJECT BLOCK
.projectBlock {
  color: $neutral-color01;
  margin-top: 56px;

  &__content {
    grid-template-columns: 2fr 10fr;
    max-width: 900px;
    margin: 0 auto;

    @include mobile {
      display: grid;
      grid-template-columns: 1fr;
      max-width: 900px;
      margin: 0 auto;
    }
  }

  &__detail,
  &__about {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  @include mobile {
    margin-top: 32px;
  }

  &__about {
    grid-column: 2;

    @include mobile {
      grid-column: 1;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: $neutral-color01;

    &-title {
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
      color: $neutral-color01;
    }

    &-subtitle {
      font-size: 16px;
      color: $neutral-color01;
    }
  }

  &__text {
    &-title {
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
      margin-bottom: 16px;
      color: $neutral-color01;

      @include tablet {
        font-size: 24px;
        line-height: 32px;
        color: $neutral-color01;
      }

      @include mobile {
        font-size: 32px;
        line-height: 40px;
        color: $neutral-color01;
        display: grid;
      }
    }

    &-description {
      font-size: 18px;
      line-height: 26px;
      font-weight: 300;
      color: $neutral-color01;

      @include mobile {
        font-size: 24px;
        line-height: 32px;
        color: $neutral-color01;
      }
    }
  }
}

// GRID IMAGE
.gridImage {
  &__content {
    margin: 0 auto;
    max-width: 900px;

    @include mobile {
      display: grid;
      margin: 0 auto;
    }
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    margin-bottom: 20px;
  }
}

// CONTACT FORM
.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 0 auto;
  max-width: 640px;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  @include mobile {
    margin: 0 5%;
  }

  label {
    font-weight: 600;
    color: $neutral-color01;
    margin-bottom: 8px;
    font-size: 16px;
  }

  input,
  textarea {
    border: none;
    border-bottom: 1px solid $neutral-color04;
    font-size: 16px;
    color: $neutral-color01;
    background: transparent;
    transition: border-color 0.3s;

    &::placeholder {
      color: $neutral-color04;
      font-family: "Inter Tight";
    }

    &:focus {
      outline: none;
      border-bottom-color: $neutral-color01;
    }
  }

  textarea {
    resize: vertical;
    min-height: 120px;
  }

  .submit {
    margin-top: 24px;
    padding: 16px 24px;
    background-color: $neutral-color01;
    color: $neutral-color05;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s;

    &:hover {
      background-color: $neutral-color01;
    }
  }
}
.successMessage {
  height: 100vh;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  @include font-M;
}

// PATH
.path {
  &__title {
    @include font-L;
    font-weight: bold;
    margin-bottom: 40px;
    color: #00a06e;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-top-style: solid;
    gap: 32px;
    padding: 56px 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      border-top: 1px solid lightgrey;
    }

    &-title {
      @include font-L;
      margin: 0 auto;
      font-weight: bold;
      color: $main-color;

      @include mobile {
        @include font-L;
      }
    }

    &-date {
      @include body;
      margin-top: 16px;
      color: $neutral-color02;

      @include mobile {
        @include font-M;
      }
    }

    &-description {
      @include body;
      font-weight: normal;
      color: $neutral-color01;
    }

    &-tags {
      margin-top: 32px;
      display: flex;
      justify-self: end;
      gap: 16px;

      @include tablet {
        justify-self: flex-start;
      }
    }
  }
  &[data-columns="3"] {
    .path {
      &__item {
        grid-template-columns: 1fr 2fr auto;

        @include tablet {
          grid-template-columns: 1fr;
        }

        @include mobile {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

// CONTENT TEXT
.contentText {
  max-width: 800px;
  margin: 0 auto;

  @include mobile {
    margin: 0px 5%;
  }

  &__title {
    color: #2f2f2f;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
    font-weight: bold;
    max-width: 800px;
  }

  &__text {
    color: #2f2f2f;
    font-size: 16px;
    line-height: 24px;
    max-width: 800px;
  }
}

// GRID IMAGES
.grid-images {
  display: grid;
  gap: 24px;
  max-width: 800px;
  margin: 0 auto;

  @include mobile {
    margin: 0px 5%;
  }

  &__item {
    img {
      max-width: 100%;
      display: block;
      border-radius: 24px;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    &__item {
      &:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
      }

      &:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
      }

      &:nth-child(3) {
        grid-column: 1 / span 2;
        grid-row: 2;
      }
    }
  }
}
